* {
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
    --font-size-results: 1.5rem;
    --font-size-title: 5rem;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 580.7px;
    margin-bottom: 120px;
    height: 100px;
    color: green;
    background-color: greenyellow;
    border: 6px dashed darkolivegreen;
    font-size: var(--font-size-title);
}

body {
    background-image: url(./resources/football_field.jpg);
    width: 100vw;
    height: 100vh;
}

#output {
    margin-top: 120px;
}

.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 0.38);
}

.teamOneInfo,
.teamTwoInfo {
    font-size: var(--font-size-results);
    display: flex;
    align-items: center;
}

.teamOneIcon,
.teamTwoIcon {
    background-color: transparent;
}

.teamOneIcon {
    margin-right: 10px;
}

.teamTwoIcon {
    margin-left: 10px;
}