* {
    font-size: 18px;
    --font-size-header: 1.5rem;
    --font-size-list: 1.1rem;
}


.textbox {
    font-size: var(--font-size-header);
    position: relative;
    margin: 20px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: cornflowerblue;
    width: 460px;
    height: 300px;
    border: solid;
}

.insidebox {
    background-color: brown;
    position: absolute;
    width: 160px;
    height: 100px;
    right: 0px;
    bottom: 0px;
    border-left: solid;
    border-top: solid;
}

.cornerbox {
    background-color: purple;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 0px;
    top: 0px;
    border: solid;
}

.yellowbox {
    background-color: yellow;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid;
}

.blueboxes {
    background-color: darkcyan;
    width: 50px;
    height: 50px;
    margin: 5rem;
    border: solid;
}

.menu {
    font-size: var(--font-size-list);
    list-style: circle;
    list-style: inside;
}