
        /* Element Selector  */
        div {
            background-color: aqua;
        }

        /* id selector  */
        #header {
            font-size: 2rem;
        }

        /* Klassen selector  */

        .subtitle{
            color: brown;
        }

        #text p {
            background-color: blanchedalmond;
        }
