input[type="button"][value="Play"] {
    font-size: 16px;
    color: salmon;
  }


html {
    background-color: chocolate;
}

.wrapper {
    margin: 200px;
    padding: 200px;
}

#clickOnButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 25px;
}

.image-container {
  margin-left: 50%;
  margin-top:100px;
}