html {
    background-color: chocolate;
}

h1 {

  font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    --font-size-header: 1.5rem;
    --font-size-list: 1.1rem;
    --font-color: antiquewhite;
}

.btn {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
  text-align: center;
}

.btn img {
	display: inline-block;
  max-width: 100px;
  height: 100px;
  vertical-align: middle;
  margin: 5px;
}
