#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#player-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#opponent-container {
  margin-left: 50px;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

img {
  width: 100px;
}
